#home {
  background-color: #D23333;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

.description-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}


label {
  font-weight: normal;
}

.form-check.set {
  margin-bottom: 25px;
}

.over-ons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
  padding: 0px 70px 0px 70px;
}

.portrait-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 200px;
  margin: 10px;
}

// Ontwerp, bouw, vastgoed extra info on homepage

.ontwerp-container {
  margin: 20px 0px 0px 0px;
  padding: 50px 0px 50px 0px;
  background-color: #1b9aaa;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.ontwerp-punten {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0px 10px 0px;
}

.ontwerp-punt {
  width: 25%;
  padding: 10px;

  width: 25%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.ontwerp-punt img {
  height: 50px;
}

.ontwerp-info {
  display: flex;
}

.ontwerp-foto {
  height: 75vh;
  width: 50%;

  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: white;
  }
}

.ontwerp-text {
  padding: 0px 30px 50px 30px;
  width: 50vw;
}

.dark-blue {
   color: $dark-blue;
 }
