.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding: 0px 30px 0px 30px;
  .show-text {
    width: 70%;
  }
  .slideshow {
    width: 70%;
    margin-bottom: 50px;
    position: relative;
    &__arrow-back {
      height: 50px;
      width: 50px;
      background-color: red;
      position: absolute;
      left: 0;
      bottom: 50%;
      z-index: 1;
      &:hover {
        cursor: pointer;
      }
    }
    &__arrow-next {
      height: 50px;
      width: 50px;
      background-color: red;
      position: absolute;
      right: 0;
      bottom: 50%;
      z-index: 1;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
